

#main {
  min-height: calc(100vh - 132px);
  &.page {
    padding-top: 10rem;
  }
  .mobile {
    overflow: hidden !important;
    min-height: 100%;
  }
  &.mobile:before {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.25s ease-in-out;
  }
  &.mobile-open {
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }
}

body {
  background-color: $primary-background-color;
}

html {
  &.mobile-out {
    overflow: hidden !important;
  }
}
