.bis-notification {
    background-color: #0b0b0b !important;
    font-weight: 700;
    border-radius: 0 !important;
    &.success {
        border-left: 3px solid #77dd77;
    }
    &.danger {
        border-left: 3px solid #ff6961;
    }
}