//body
$primary-background-color: #23262b;
$primary-font-color: #cacaca;
$text: #cacaca;
$text-strong: $text;
$secondary-font-color: #91949e;
$family-primary: 'Lato', sans-serif;
$primary: #181a1e;

$background: #23262b;
$link-hover-color: #50a4c3;
$link-visted-color: #50a4c3;
//header
$primary-header-font-family: 'Lato', sans-serif;
$header-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
//dropdown
$dropdown-content-background-color: #333;
$dropdown-item-color: $primary-font-color;
$dropdown-item-hover-background-color: #1d1d1d;
$dropdown-item-hover-color: $primary-font-color;
//panel
$panel-list-item-color: #cacaca;
$panel-icon-color: #cacaca;
//form
$input-focus-color: $link-hover-color;
//button
$button-background-color: #5f6266;

